.example-wrap {
   overflow: hidden;
}
/***** Showhide *****/
[aria-hidden=true] {
   display: none;
}
.example-wrap button {
   margin: 5px 5px 5px 0;
}
.example-wrap .panel-heading h3 {
   margin: 0;
   padding: 0;
}
/***** End Showhide *****/
