body {
	margin: 0;
	padding: 0;
	background: url("../images/bggradient.png") no-repeat fixed 50% -115px;
	font-size: 1em;
}
#container {
	margin: 0 auto;
	width: 1010px;
	font-family: arial, helvetica, sans-serif;
}
#header {
	overflow: visible;
	height: 140px;
	clear: right;
	width: 100%;
}
#top-nav {
	padding: 0;
	width: 100%;
	height: 32px;
	background-color: #790000;
}

#topmenu {
  margin:0;
  padding: 0;
  width: 100%;
  float: left;
  list-style: none outside none;
  z-index: 5;
}

#topmenu li {
	margin: 0;
	padding-left: 0;
	float: left;
	display: inline;
	position: relative;
}

#topmenu ul {
	margin: 0;
	padding: 0;
	width: 12.5em;
	float: left;
	position: absolute;
	left: 0;
	overflow: visible;
	background-color: #790000;
	border: 1px solid #ffe27f;
}
#topmenu li.menu-parent ul ul{
	left: 12.5em;
	top: 0;
}

#topmenu li.menu-parent ul li {
	width: 100%;
}
#topmenu li.menu-item a,
#topmenu li.menu-parent a {
	padding: 8px 1em;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
	color: #ffe27f;
	display: block;
   height: 100%;
}

#topmenu [role=menuitem]:hover {
	background-color: #aa0000;
}
#topmenu [role=menuitem]:focus {
	background-color: #990000;
}

.vmenu {
	background: url("../images/menu-gradient.png") no-repeat #ffe27f;
	margin: 0;
	padding: 0;
	list-style: none outside none;
	font-weight: bold;
	border: 1px solid #ffe27f;
	z-index: 5;
}
.vmenu li {
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #ffe27f;
}
.vmenu li a {
	padding: 0 10px;
	text-decoration: none;
	height: 37px;
	width: 180px;
	line-height: 37px;
	color: #000;
	display: block;
}
.vmenu ul {
	list-style: none outside none;
	margin: -32px 0 0 199px;
	width: 220px;
	padding-left: 0;
	position: absolute;
	background-color: #ffe27f;
	border: 1px solid #fff;
}
.vmenu li li {
	border-bottom: 1px solid #fff;
}
.vmenu ul a {
   display: block;
	font-size: 0.8em;
	width: 200px;
	height: 25px;
	line-height: 25px;
}
.vmenu li a:hover {
	background-color: #fffecf;
}
.vmenu li a:focus {
	background-color: #ffffff;
}
.menu-parent ul .menu-parent {
   background: url('../images/submenu_arrow.png') no-repeat right;
}

#Site-Banner {
	margin: 20px 15px;
	height: 66px;
	font-weight: bold;
}
#mw-Logo {
	float: left;
}
#MCC-Logo {
	float: left;
	margin: 5px 15px;
	display: block;
}
#MCC-Title {
	margin: 0;
	padding-top: 0;
	font-family: "Adobe Garamond", garamond, times, serif;
	font-size: 2em;
	text-transform: uppercase;
}
#MCC-Title .title{
	font-size: 1.8em;
}

#mainmenucolumn {
   margin: 0;
	margin-left:15px;
	padding: 0;
	float: left;
	display: block;
	width: 200px;
	margin-bottom: 30px;
}

#maincontent {
   margin: 0;
   padding-left: 15px;
	padding-bottom: 30px;
	float: left;
	display: block;
	width: 780px;
}

#maincontent-bgfill {
   background: url("../images/bgfill_white_780px.png") repeat-y;
}

#maincontent h1 {
   margin: 0;
   padding: 0.2em 0.5em;
   font-family: "Times new Roman", Times, serif;
   font-size: 1.9em;
   line-height: 1.4em;
   height: 38px;
   width: 739px;
   background-color: #ffe27f;
}

#open-hours {
	font-size: 0.8em;
	font-weight: bold;
}
#open-hours span.office_hours {
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px solid black;
}
#open-hours span.drop-in {
	font-weight: bold;
	text-decoration: underline;
}
#open-hours span.hours {
	font-weight: normal;
	margin-left: 5px;
}
#open-hours a {
	color: black;
	font-size: 1.2em;
}
#footer {
	padding: 0.7em 10px;
	background-color: #790000;
	clear: both;
	color: #ffe27f;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	height: 1em;
}
#footer span {
	margin-left: 10px;
}

.offscreen {
   position: absolute;
   top: -30em;
   left: -300em;
}

/**********************  Home page styles **********************/

#main-image {
	float: left;
}

#maincontent h1#welcome {
   width: 517px;
}

#featured-items {
	margin: 0 15px 0 5px;
	float: right;
	width: 200px;
}

#featured-items ul {
	list-style: none outside none;
	margin-top: -5px;
	padding: 0 10px;
}
#featured-items ul li {
	display: block;
	padding-bottom: 1.3em;
	height: 2.3em;
	text-align: left;
	vertical-align: top;
}
#featured-items ul li a:hover,
#featured-items ul li a:active,
#featured-items ul li a:focus {
   color: #b00;
   font-weight: bold;
}
#featured-items img {
	float: left;
	clear: both;
	margin-right: 10px;
}
#featured-items a {
	color: #000;
	font-family: arial,helvetica,sans-serif;
	font-size: 0.75em;
	font-weight: bold;
	text-align: left;
}
#quicktabs {
	padding-top: 10px;
	font-family: arial,helvetica,sans-serif;
	float: left;
	width: 543px;
	z-index: -1;
}
#quicktabs_tabs {
	margin: 0;
	padding: 0;
  	list-style: none outside none;
	width: 100%;
	height: 32px;
}
.tab {
	margin: 0 10px 0 0;
	padding-left: 0;
	padding-top: 8px;
	float: left;
	width: 140px;
	height: 23px;
	background-color: #fff6d7;
	font-weight: bold;
	color: #000;
	text-align: center;
	border-top: 1px solid #790000;
	border-left: 1px solid #790000;
	border-right: 1px solid #790000;
}
.tab:hover,
.tab[aria-selected="true"]:hover {
	color: #ffe27f;
	background-color: #bb0000;
}
.active-tab {
	color: #ffe27f;
	background-color: #790000;
	border-bottom: 1px solid #fff6d7;
}
.quicktabs_tabpage {
	padding: 10px;
	background-color: #fff6d7;
	border: 1px solid #790000;
}
.announcement-title {
	margin-bottom: 10px;
	font-weight: bold;
}
.announcement-timestamp {
	margin-right: 10px;
}
.announcement-title a {
	color: #790000;
}
.announcement-title a:hover,
.announcement-title a:active,
.announcement-title a:focus {
	color: #bb0000;
}
.quicktab-col {
	margin-right: 10px;
	float: left;
	width: 48%;
}
.quicktabs_tabpage h3 {
	color: #790000;
	font-size: 1.3em;
}
.newspanecontent {
	margin-left: 10px;
}
.newspanecontent a {
	font-weight: bold;
	color: black;
}
.newspanecontent a:hover,
.newspanecontent a:focus,
.newspanecontent a:active,
.scholarship-title a:hover,
.scholarship-title a:focus,
.scholarship-title a:active {
	color: #bb0000;
}
.event-timestamp {
	font-weight: bold;
	color: #790000;
}
.event-wrapper a {
	font-weight: bold;
	font-size: 1.1em;
	color: black;
}
.advising-title {
	margin-bottom: 10px;
	font-weight: bold;
}
.advising-timestamp {
	margin-right: 10px;
}
.advising-title a {
	color: black;
}
.advising-title a:hover,
.advising-title a:focus,
.advising-title a:active {
	color: #bb0000;
}
.scholarship-title a {
	font-weight: bold;
	font-size: 0.9em;
	color: black;
}
.event-wrapper a:hover,
.event-wrapper a:focus,
.event-wrapper a:active {
	color: #bb0000;
}
#pager {
	width: 100%;
	height: 1.5em;
}
.pager {
	margin-left: 6em;
	list-style: none outside none;
}
.pager li {
	float: left;
	text-align: center;
	font-weight: bold;
}
.pager-next {
	margin-left: 1em;
}
.pager-next a {
	color: black;
	font-weight: bold;
}
#scholarships ul {
	padding-left: 15px;
}
.scholarship {
	color: #790000;
}
.tab-spacer {
	clear: both;
}

#student-profile {
	float: right;
	background-color: #ffe27f;
	margin-right: 15px;
	padding: 2px 5px;
	width: 185px;
}
#student-profile #profile-header {
	color: #790000;
	text-align: center;
}
#student-profile img {
   border: none;
}

#student-profile a {
   color: #790000;
}
#student-profile a:hover,
#student-profile a:active,
#student-profile a:focus {
   color: #b00;
   font-weight: bold;
}
.imageLink {

   text-decoration: none;
}

/**************** New Home Page Styles *******************/
#maincontent {
   width: 560px;
}
.right-col {
   overflow: hidden;
   width: 220px;
   float: right;
}
.right-col #featured-items,
.right-col #student-profile {
   float: left;
   width: 190px;
}
.tab[aria-selected="true"] {
	color: #ffe27f;
	background-color: #790000;
	border-bottom: 1px solid #fff6d7;
}
.tab:focus {
   outline: none;
}
.tabpanel .announcement {
   font-size: 1em;
}
.tabpanel .announcement-description,
.tabpanel .advising-description {
   line-height: 1.2em;
}
.pane-title {
   font-size: 1.2em;
}
#open-hours h2 {
   font-size: 1.2em;
   text-decoration: underline;
}
#open-hours ul {
   list-style-type: none;
   padding-left: 0;
}
/**********************  Jobs page styles **********************/

.announcement {
   padding: 0.3em 10px;
   font-size: 1.4em;
   font-family: "Times new Roman", Times, serif;
}
.announcement a {
   color: #790000;
}
#SearchHeading {
   padding: 0.3em 10px;
   font-size: 1.4em;
   font-family: "Times new Roman", Times, serif;
   width: 739px;
   border-top: 1px solid #790000;
}
.search_filter {
   margin: 10px;
   float: left;
}
.instruction {
   clear: both;
}
#CategoryListHeading {
   padding: 0.3em 10px;
   font-size: 1.4em;
   font-family: "Times new Roman", Times, serif;
   width: 739px;
   border-top: 1px solid #790000;
}
.categoryHeading {
   padding: 0.3em 10px;
   font-size: 1.4em;
   font-family: "Times new Roman", Times, serif;
   width: 639px;
   height: 1.2em;
   border: 1px solid #790000;
   background-color: #ffe27f;
}
.categoryHeading span {
   float: left;
}
.categoryHeading img {
   float: right;
   width: 25px;
   height: 25px;
}
.categoryHeading:hover,
.categoryHeading:focus,
.categoryHeading:active {
   color: #bb0000;
}
.moreInfo {
   border: none;
}
.jobLink {
   margin: 15px 0 5px 20px;
}
.jobLink a {
   color: black;
   font-weight: bold;
}
.jobLink a:hover,
.jobLink a:focus,
.jobLink a:active {
   color: #bb0000;
}
.jobDescription {
   width: 700px;
}

option[aria-selected="true"],
option.selected {
   font-weight: bold;
   background-color: #ffe27f;
}
.hidden,
[aria-hidden="true"] {
   display: none;
}

/**********************  Contact page styles **********************/

.description {
	margin: 10px 0;
}
.form-text {
   margin-bottom: 10px;
   float: left;
}
form label {
   clear: both;
}
#contact-mail-page label  {
   display: block;
	font-weight: bold;
}
#contact-mail-page {
   margin-top: 20px;
}

.errmsg {
   margin-bottom: 10px;
   clear: both;
   color: red;
}
[aria-invalid=true],
.invalid {
   border-color: red;
}
/**********************  Placeholder page styles **********************/
div#maincontent h1#placeholder_heading {
   width: 951px;
}
table#pageLinks {
   cell-spacing: 0;
   background-color: #fff;
   border-collapse: collapse;
   width: 951px;
}
table#pageLinks th {
   padding: 2px 5px;
   border: 1px solid black;
}
table#pageLinks td {
   padding: 2px 5px;
   text-align: center;
   border: 1px solid black;
}
.left-align {
   text-align: left;
}
table#pageLinks td ul {
   margin: 0;
   padding-left: 20px;
}
table#pageLinks td li {
   margin: 3px 0 2px 0;
}
span.no {
   font-size: 80%;
   color: #666;
}
